@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.swiper-slide,
.swiper-wrapper {
    display: flex;
    align-items: stretch;
    height: inherit;
}

.swiper-slide > div {
    flex: 1 1 auto;
}

@media (max-width: 1200px) {
    .swiper-btns {
        display: none;
    }
}
